:root {
  --duration : .3s;
}

/* reset css */
html, body {
  box-sizing: border-box;
  background-color: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

li {
  list-style:none;
}

/* log 와 title */
.logo {
  display: block;
  margin: 0 auto;
  width: 280px;
}

h1 {
  text-align: center;
  margin:0 0 20px;
}

/* slider style */
.slider {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.slider-list {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-list>li {
  position: absolute;
  opacity: 0;
}

.slider-list>li:first-child {
  opacity: 1;
}

.slider-list>li.left-hide {
  opacity: 1;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform var(--duration);
  transition: transform var(--duration);
}

.slider-list>li.right-hide {
  opacity: 1;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--duration);
  transition: transform var(--duration);
}

.slider-list>li.left-show {
  opacity: 1;
  -webkit-animation-duration: var(--duration);
  animation-duration: var(--duration);
  -webkit-animation-name: left-slide-in;
  animation-name: left-slide-in;
}

.slider-list>li.right-show {
  opacity: 1;
  -webkit-animation-duration: var(--duration);
  animation-duration: var(--duration);
  -webkit-animation-name: right-slide-in;
  animation-name: right-slide-in;
}


.slider-list>li img {
  width: 100%;
  vertical-align: top;
}

.arrows li{
  position: absolute;
  top: 50%;
}

.arrows li:nth-child(1) {
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.arrows li:nth-child(2) {
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.arrow {
  display: block;
  position: relative;
  padding: 20px;
  border-radius: 50%;
  background: hsla(0, 0%, 100%, 0.75);
  border-width: 0;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
}

.arrow:hover {
  background-color: #fff;
}

.arrow i{
  position: absolute;
  top: 12.5px;
  display: inline-block;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 6px;
  background-color: initial;
  line-height: 0;
  font-size: 0;
}

.arrow.prev i {
  left: 15px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.arrow.next i {
  left: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots button {
  margin: 0 4px;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: initial;
  padding: 5px;
  border-radius: 50%;
  background: #333;
  opacity: 0.25;
  cursor: pointer;
}

.dots .is-selected button{
  opacity: 1;
}

@-webkit-keyframes right-slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes right-slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes left-slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes left-slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
